.btn{
  color: #1f2a2f!important;
  border: 1px solid #1f2a2f!important;

}
.btn:hover{
  color:aliceblue!important;
  background-color: #1f2a2f!important;
}

#bar{
  background-color:white!important;
  padding-inline: 200px!important;
}

.cart{
  width: 20px;
  color: white!important;
  background-color: #1f2a2f;
  border-radius: 10px;
}

.err{
  width:stretch;
  background-color:#1f2a2f;
  color:white;
  text-align:center;
  padding:50px;
}

#sale{
  color: white;
  background-color: #1f2a2f;
  border-radius: 10%;
  font-size:16px;
  position: absolute;
  top: 0px;
  right: 5px;
  padding-inline: 5px;
}

.scratch{
  text-decoration: line-through!important;
  color: rgb(140, 145, 148);
}